* {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
}

nav > h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 25px;
  padding: 10px;
}

p {
  font-size: 1.5em;
}

/* body {
  width: 100vw;
} */

.results {
  margin-top: 2em;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.complete-text {
  margin: 2em;
}

.progress {
  background-color:lightgrey;
  width: 100%;
}

.green {
  background-color: #619737;
  height: 50px;
}

.red {
  background-color: #CC6161;
  height: 50px;
}

.confetti {
  width: 100%;
  height: 100%;
}

.win {
  width: 50%;
}

.forward-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #E39B22;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #E39B22;
}

.correct-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #619737;
}

.wrong-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #CC6161;
}

.restart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #87BFE7;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 30px 30px;
}

.correct-button:hover, .wrong-button:hover, .restart-button:hover, .forward-button:hover, .back-button:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.correct-button, .wrong-button, .restart-button, .forward-button, .back-button{
  margin-top: 30px;
}

.icon {
  width: 35px;
}

.button-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.correct .button-text {
  display: none;
}

.restart .button-text {
  display: none;
}

.wrong .button-text {
  display: none;
}

.back .button-text {
  display: none;
}

.forward .button-text {
  display: none;
}

.button-element:hover .button-text {
  display: block;
  position: absolute;
}


/* .flip-card:hover {
  transform: rotateY( 20deg ) ;
  transition: transform 0.5s;
} */

nav {
  background-color: #E39B22;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;;
  margin-bottom: 50px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.btn.btn-nav {
  font-size: 1.25em;
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
}



.btn.btn-nav:hover {
  background-color:#e4e4e4 ;
}

.launchscreen-title {
  display: flex;
  justify-content: center;
  margin: 150px 0;

}

.launchscreen-title > h1 {
  font-size: 4em;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
}

.main-content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  width: 100%;
}

.flip-card {
  height: 350px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  perspective: 1000px;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 30px;
}


.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s; 
  pointer-events: auto;
}

/* Rotates the inner container to show the back */
.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* disables transition */
.disable-animation .flip-card-inner {
  transition: none; 
  transform: rotateY(0deg); 
  pointer-events: none; 
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.card-front {
  /* transform: rotateY(0deg); Initially not rotated */
  background-color: #78C3C9;
  color: #fff;
  border-radius: 60px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.card-back {
  background-color: #57959A;
  color: #fff;
  transform: rotateY(180deg);
  border-radius: 60px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

@media screen and (max-width: 768px) {

  .launchscreen-title {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 75px 0;
  }

  .launchscreen-title > h1 {
    text-align: center;  
    font-size: 2em;
    width: 30%;
  }

  .main-content {
    margin: 0;
  }

  .flip-card {
    font-size: 1.5em;
  }

  .nav-buttons {
    font-size: .75em;
  }

  .btn.btn-nav {
    height: 50px;
    padding: 0 10px;
    width: 90px;
  }

  .buttons {
    gap: 10px;
  }

  .dropdown {
    margin: 10px;
  }

  .flip-card {
    width: 75%;
    max-height: 250px;
    max-width: 350px;
  }

  .correct-button, .wrong-button, .restart-button, .forward-button, .back-button {
    width: 75px;
    height: 75px;
  }

  .icon {
    width: 25px;
  }

  .buttons {
    margin: 0px;
  }

  .deck-complete {
    padding: 20px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .complete-text {
    margin: 1em;
  }

  .confetti {
    width: 100%;
    max-width: 768px;
    height: 100%;
  }

}